html {
	overflow-y: scroll;
   	height: 101%;
}


.clear {
    content:'';
    display:block;
    clear: both;
}


[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

@font-face {
    font-family: 'webfontbold';
    src: url('../fonts/nevis-webfont.eot');
    src: url('../fonts/nevis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nevis-webfont.woff') format('woff'),
         url('../fonts/nevis-webfont.ttf') format('truetype'),
         url('../fonts/nevis-webfont.svg#webfontbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: 'webfontbold';
	font-weight: 400;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 { font-size: 28px; line-height: 100%; margin-bottom: 16px; }
h2 { font-size: 24px; line-height: 100%; margin-bottom: 16px; }
h3 { font-size: 18px; line-height: 100%; margin-bottom: 16px; }
h4 { font-size: 16px; line-height: 100%; margin-bottom: 14px; }
h5 { font-size: 14px; line-height: 100%; margin-bottom: 8px; }
h6 { font-size: 12px; line-height: 100%; margin-bottom: 8px; }

.navbar-inverse .navbar-inner {

	background: #326695;
	border: none;
}

.search {
	margin: 15px 0 30px 0;
	position:relative;
	z-index:499;
	display: block;


}

.search form {
	display: block;
}

.search input.input {
	margin: 0 auto 0 auto;
	outline: none;
	height:25px;
	padding:7px 8px 6px 45px;
	font-size: 140%;
	font-weight: normal;
	letter-spacing: 2px;
	word-spacing: 3px;
	border:3px solid #4081BE;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;  
	width:78%;
	display:block;
	position: relative;
	background: #fff no-repeat url('../img/icon-search.png') 14px 10px;

}

.search .results {
	position: absolute;
	top:43px;
	left: 0;
	right:0;
	width:100%;
	z-index:9999;
}

.search .results ul {
	width:78%;
	list-style: none;
	margin: 0 auto 0 auto;
	display: block;
	padding:9px 25px 8px 25px;
	border:3px solid #4081BE;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;   
	background: white;

}

.results .movie-title {

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.results .movie-count {
	padding: 2px 7px;
	margin-left:10px;
	background-color:#136CB2;
	color:white;
	font-size:75%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;  
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search .results .hide {
	width:50px;
	text-align: center;
	cursor: pointer;
	margin: 0 auto 0 auto;
	display: block;
	padding:5px 15px 5px 15px;
	border-width: 0 3px 3px 3px;
	border-style: solid;
	border-color: #4081BE;

	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background:#326695;
	color:white;
	font-weight: 700;

}
.search .results .hide:hover {
	background:#1f3f5c;
}


.search .results ul li {
	margin: 1px 0;
	padding:8px 15px 8px 15px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;  
	font-size: 150%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	color: #136CB2;
}

.search .results ul li:hover {
	background: #F8F1BE;
}

.loading-soundtrack {
	text-align: center;
	padding: 5px 0;
	margin-top:15px;
	font-size: 150%;
	font-weight: 700;
	color:#666;
}
.info {
	margin: 20px 0 0 0;
}
.info h1 {
	color:#fff;
	margin:0 0 10px 0;
	padding: 0;
	text-align: center;
}

.info h1 a {
	color:#fff;
	margin:0 0 10px 0;
	padding: 3px 7px;
	text-align: center;
	text-decoration: none;
}
.info h1 a:hover {
	text-decoration: none;
	color:#b2dbef;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}
.info p {
	color: #fff;
	text-align: center;
	width:78%;
	margin:0 auto 15px auto;
	font-size: 110%;
}


ul.movies-list {

	text-align:center;
	padding:0;
	margin:0 0 40px 4%;
	width:93%;
	list-style: none;
}

ul.movies-list li {
	display: inline-block;
	width: 185px;
	height:334px;
	list-style: none;
	padding:0;
	margin: 0 25px 25px 0;

	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,.8);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .8);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, .8);
	cursor: pointer;
	background: white;
	border:1px solid #ddd;

}
ul.movies-list li:hover {
	border:1px solid #999FAD;
}

ul.movies-list li .movies-info {
	padding:4px;

}

ul.movies-list li .movies-info h2 { 
	font-size: 12px; 
	text-align: left;
	line-height: 16px; 
	margin-bottom: 1px; 
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.movies-list li img { 
	height: 278px;
	width:185px;
	overflow:hidden;
}

ul.movies-list li cite {
	font-size: 12px;
	text-align: left;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color:#333;
	margin: 4px 0;
	padding: 0;
	line-height: 14px;

}

.line {
  display: table;
  white-space: nowrap;
}

.line:before,
.line:after {
  /* green 1px image repeated in browsers without linear-gradient */
  background: url(data:image/gif;base64,R0lGODdhAQABAIgAAEqMMQAAACwAAAAAAQABAAACAkQBADs=) repeat-x center;
  background: linear-gradient(to bottom, #e1e1e1, #fbfbfb) no-repeat center / 94% .15em;
  content: '';
  display: table-cell;
  width: 50%;
}





#YTplayer {
	position: absolute;
	left: -9999px;
}


.playlist {
	margin: 0 auto 50px auto;
	padding:0;
	white-space: nowrap;
	overflow: hidden;
	width:80%;
	display:block;
	position: relative;

}



.playlist .movie .title h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	padding:0 0 4px 0;
	margin:0 0 2px 0;
	line-height: 24px;
}

.playlist .song .data {
	position: absolute;
	height: 60px;
	top: 0;
	left: 45px;
	right: 1px;


}

.playlist .data .title {

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;

	position: absolute;
	top: 5px;
	left: 1px;
	right: 59px;
	z-index: 70;
	line-height: 16px;
}

.playlist .data .title .description {
	position: relative;
	display: inline-block;
	max-width: 91%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	z-index: 70;
	padding-right: 30px;
}


.release-year {
	color: #777;
}

.song-count {
	color: #777;
	font-style: italic;
}

.playlist .movie {
	float:left;
	height:100px;
	width:100%;
	margin:0 auto 25px auto;
	overflow: hidden;

}

.movie .title {
	float:left;
	width:85%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;

}
.movie .cover {
	float:left;
    padding: 0;
    margin:0 20px 0 0;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;  
    border-radius: 5px;
    width:70px;
    height: 100px;
    overflow: hidden;
}

.playlist .songs {
	float:left;
	width:100%;
}

.songs .song {
	position: relative;
	height: 52px;
	margin: 0 0 8px 0;
	padding: 0;
	z-index: 10;
}
.songs .data .songtitle {
	color: #666;


}

.songs .data .nullsongtitle {
	color: #a4a4a4;
	line-height: 28px;

}

.songs .data .by {
	color: #A4A4A4;
	line-height: 28px;
}

.songs .data .nullby {
	color: #A4A4A4;
	line-height: 28px;
}

.songs .data .songartist {
	color: #666;
	line-height: 28px;

}
.songs .data .nullsongartist {
	color: #a4a4a4;
	line-height: 28px;

}

.data .progress {
	position: absolute;
	top:32px;
	height: 12px;
	left: 0;
	right: 59px;
	padding: 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #CCC;
	margin:0;



}

.data .nullprogress {

	font-size:85%;
	font-style: italic;
	color: #CCC;

	position: absolute;
	top:28px;
	height: 16px;
	left: 1px;
	right: 59px;
	padding: 1px;
}

.data .progress .elapsed {

	position: absolute;
	width: 0%;
	width: -moz-calc(10% - 2px);
    width: -webkit-calc(0% - 2px);
    width: calc(0% - 2px);

	height: 12px;
	top: 1px;
	left:1px;

	z-index: 70;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #F88800;
	background-image: -moz-linear-gradient(top, #F99A00, #F66C00);
	background-image: -ms-linear-gradient(top, #F99A00, #F66C00);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F99A00), to(#F66C00));
	background-image: -webkit-linear-gradient(top, #F99A00, #F66C00);
	background-image: -o-linear-gradient(top, #F99A00, #F66C00);
	background-image: linear-gradient(top, #F99A00, #F66C00);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#f99a00', endColorstr='#f66c00', GradientType=0);
}

.data .time {
	position: absolute;
	width: 50px;
	height: 16px;
	top: 32px;
	right: 5px;
	z-index: 70;
	color: #888;
	font-size: 12px;
}

.song-loader {
	background: #fff;
	padding: 4px 0 0 4px;
}

.song .play {
	position: absolute;
	top: 5px;
	left: 0;
	width: 40px;
	height: 45px;
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: 0 5px;
	cursor:pointer;

}

.song .nullplay {
	position: absolute;
	top: 5px;
	left: 0;
	width: 40px;
	height: 45px;
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -296px 5px;
	cursor:pointer;


}

.song .controlplay {
	background-position: -70px 5px;
}

.song .controlpause {
	background-position: -143px 5px;
}


.song .play:hover {
	opacity: 0.8;
}

.data .actions {
	position: absolute;
	right: 7px;
	top: -3px;
	display: inline-block;
	width: 22px;
}

.data .actions a {
	display: inline-block;
	z-index: 72;
	cursor: pointer;
	text-decoration: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.data .actions span {
	display: inline-block;
	width:16px;
	height:16px;
	text-indent: -9999px;
	font-size: 0;
	margin: 0 3px;
	cursor: pointer;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
}

.data .actions .open-youtube { background-position: -301px -342px; }
.data .actions .open-youtube:hover { background-position: 0px -342px; }

.social {

	text-align: center;
	width:78%;
	margin: 15px auto 5px auto;
	display: block;

}

.main-loader {
	width:260px;
	margin: 0 auto 0 auto;
}

.content-loader {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #808080;
	z-index: 10000;
	background:#fff;
	padding-top: 100px;
}

.loading-bar {
	height:10px;
	width:100%;
	padding:0;
	margin:0;
	float:left;
}

/* 
This is the actual bar with stripes
*/	
.loading-bar span {
	display:inline-block;
	height:12px;
	width:100%;
	float:left;
	background-color:#d3d3d3;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background-image:
		-webkit-linear-gradient(
		-45deg,
		rgba(255, 154, 26, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 154, 26, 1) 50%,
		rgba(255, 154, 26, 1) 75%,
		transparent 75%,
		transparent
	);
	background-image:
		-moz-linear-gradient(
		-45deg,
		rgba(255, 154, 26, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 154, 26, 1) 50%,
		rgba(255, 154, 26, 1) 75%,
		transparent 75%,
		transparent
	);
	background-image:
		-ms-linear-gradient(
		-45deg,
		rgba(255, 154, 26, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 154, 26, 1) 50%,
		rgba(255, 154, 26, 1) 75%,
		transparent 75%,
		transparent
	);
	background-image:
		linear-gradient(
		-45deg,
		rgba(255, 154, 26, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 154, 26, 1) 50%,
		rgba(255, 154, 26, 1) 75%,
		transparent 75%,
		transparent
	);
	-webkit-background-size:50px 50px;
	-moz-background-size:50px 50px;
	-ms-background-size:50px 50px;
	background-size:50px 50px;
	-webkit-animation:move 2s linear infinite;
	-moz-animation:move 2s linear infinite;
	-ms-animation:move 2s linear infinite;
	animation:move 2s linear infinite;

	overflow: hidden;
	-webkit-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	-moz-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	-ms-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
}

/*
Animate the stripes
*/	
@-webkit-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@-moz-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@-ms-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	




@media only screen and (max-width: 479px), only screen and (max-device-width: 479px) {
	body { font-size: 12px; }


	h1 { font-size: 26px; line-height: 100%; margin-bottom: 16px; }
	h2 { font-size: 18px; line-height: 100%; margin-bottom: 16px; }
	h3 { font-size: 17px; line-height: 100%; margin-bottom: 16px; }
	h4 { font-size: 16px; line-height: 100%; margin-bottom: 14px; }
	h5 { font-size: 14px; line-height: 100%; margin-bottom: 8px; }
	h6 { font-size: 12px; line-height: 100%; margin-bottom: 8px; }

	.playlist {
		width:100%;
	}

	.movie .title {
		float: left;
		width: 65%;
	}

	.search .results ul {
		padding: 9px 25px 8px 25px;

	}

	.search input.input {
		margin: 0 auto 0 auto;
		outline: none;
		height: 25px;
		padding: 7px 8px 6px 45px;
		font-size: 13px;
	}

	.search .results ul li {
		padding: 4px 1px 4px 1px;
		font-size: 13px;
	}

}


 @media only screen and (min-width: 480px) and (max-width: 767px), only screen and (min-device-width: 480px) and (max-device-width: 767px) {


	body { font-size: 13px; }


	h1 { font-size: 26px; line-height: 100%; margin-bottom: 16px; }
	h2 { font-size: 20px; line-height: 100%; margin-bottom: 16px; }
	h3 { font-size: 18px; line-height: 100%; margin-bottom: 16px; }
	h4 { font-size: 16px; line-height: 100%; margin-bottom: 14px; }
	h5 { font-size: 14px; line-height: 100%; margin-bottom: 8px; }
	h6 { font-size: 12px; line-height: 100%; margin-bottom: 8px; }

	.playlist {
		width:100%;
	}


	.movie .title {
		float: left;
		width: 75%;
	}

}


@media only screen and (min-width: 768px) and (max-width: 979px), only screen and (min-device-width: 768px) and (max-device-width: 979px) {

	body { font-size: 14px; }


	h1 { font-size: 28px; line-height: 100%; margin-bottom: 16px; }
	h2 { font-size: 20px; line-height: 100%; margin-bottom: 16px; }
	h3 { font-size: 18px; line-height: 100%; margin-bottom: 16px; }
	h4 { font-size: 16px; line-height: 100%; margin-bottom: 14px; }
	h5 { font-size: 14px; line-height: 100%; margin-bottom: 8px; }
	h6 { font-size: 12px; line-height: 100%; margin-bottom: 8px; }

	.playlist {
		width:100%;
	}


	.movie .title {
		float: left;
		width: 75%;
	}

}