<div ng-init="getPopular();">
	<div class="main-loader" ng-show="playlist.loading == true">
		<img src="img/main-loader.gif" />
		<p class="loading-soundtrack">Loading Soundtrack ...</p>
	</div>
	<div ng-cloak ng-show="$root.contentLoaded">
		<p class="description">TheSoundtrackDB is a place to find and listen to most movie and tv soundtracks. All the soundtrack listings are from <a href="http://www.imdb.com/interfaces">The Plain Text Data Files</a> via <a href="http://www.imdb.com/">IMDB</a>, and the music is provided couretsy of <a href="http://www.youtube.com">YouTube</a>. All images of movie posters are provided by <a href="http://www.themoviedb.org/">themoviedb</a>. This project is for personal and non-commercial use. Maintained by <a href="http://chriszieba.com" title="Chris Zieba">Chris Zieba</a>.</p>
		
		<div class="social">
			<iframe src="http://ghbtns.com/github-btn.html?user=ChrisZieba&repo=theSoundtrackDB&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
			<iframe src="https://platform.twitter.com/widgets/tweet_button.html?url=http%3A%2F%2Fthesoundtrackdb.com&amp;via=theSoundtrackDB&amp;text=Search%20for%20and%20listen%20to%20music%20from%20any%20movie%20or%20tv%20show!" allowtransparency="true" frameborder="0" scrolling="no" style="width:90px; height:20px;"></iframe>
			<iframe src="//platform.twitter.com/widgets/follow_button.html?screen_name=theSoundtrackDB&show_count=true&show_screen_name=false" allowtransparency="true" frameborder="0" scrolling="no"  style="width: 140px; height:20px;"></iframe>
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FTheSoundtrackDB&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=632607110098966" scrolling="no" frameborder="0" class="facebook-like-button" allowTransparency="true" style="width:80px; height:20px;"></iframe>
		</div>

		<br/>

		<h2 class="line">Popular</h2>
		<ul class="movies-list">
			<li ng-repeat="movie in movies.popular" ng-click="setRoute( movie.id )" title="{[{ movie.title }]}">
				<img ng-src="img/posters/{[{ movie.id }]}.jpg" width="185" height="278" />
				<div class="movies-info">
					<h2>{[{ movie.title }]}</h2>
					<cite>{[{ movie.count }]} song<span ng-show="movie.count > 1">s</span></cite>
				</div>
			</li>

		</ul>
	</div>
</div>