<div class="main-loader" ng-show="playlist.loading == true">
	<img src="img/main-loader.gif" />
	<p class="loading-soundtrack">Loading Soundtrack ...</p>
</div>
<div class="playlist" ng-cloak ng-show="playlist.show == true">
	<div class="movie">
		<div class="cover">
			<img src="{[{ movies.poster.url }]}" width="70" />
		</div>
		<div class="title">
			<h2>{[{ movies.current.title }]}</h2>
			<div class="release-year"><strong>Released: </strong>{[{ movies.poster.year }]}</div>
			<div class="song-count">{[{ playlist.songs.length }]} songs</div>
		</div>
	</div>

	<div class="songs">
		<div class="song" ng-repeat="song in playlist.songs">
			<div ng-show="song.id != null" class="play" ng-click="play($index)" ng-class="{ controlplay: song.state == 'play', controlpause: song.state == 'pause'}"></div>
			<div ng-show="song.id == null" class="nullplay"></div>
			<div class="data">
				<div class="title">
					<div class="description">
						<span ng-class="{ songtitle: song.id != null, nullsongtitle: song.id == null}"><strong>{[{ song.title }]}</strong></span> 
						<span ng-show="song.artist != null">
							<span ng-class="{ by: song.id != null, nullby: song.id == null}">by</span> 
							<span ng-class="{ songartist: song.id != null, nullsongartist: song.id == null}"><strong>{[{ song.artist }]}</strong></span>
						</span>
						<div ng-show="song.id != null" class="actions">
							<a href="{[{ song.link }]}" target="_blank" title="Watch on YouTube"><span class="open-youtube">&nbsp;</span></a>
						</div>
					</div>
				</div>
				<div ng-show="song.progress != null" class="progress">
					<div ng-show="(song.state == 'play' || song.state == 'pause') && song.progress != 0" class="elapsed" ng-style="{ 'width': song.progress + '%', 'width': '-moz-calc(' + song.progress + '% - 2px)', 'width': '-webkit-calc(' + song.progress + '% - 2px)', 'width': 'calc(' + song.progress + '% - 2px)' }"></div>
					<div ng-show="song.state == 'play' && song.progress == 0" class="loading-bar"><span></span></div>
				</div>
				<div ng-show="song.progress == null" class="nullprogress">
					<span>YouTube did not return any results for this query</span>
				</div>
				<div ng-show="song.duration != null" class="time">{[{ formatTime(song.duration) }]}</div>
			</div>
			<div class="clear"></div>
		</div>
		<div ng-show="playlist.songs.length == 0">Sorry, but YouTube did not produce any results for this soundtrack!</div>
	</div>
</div>